
* {
  font-family: Helvetica Neue, Arial, sans-serif; 
}

h1, h2, h3 {
    color: lightblue;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
body {
  /*
    color: #EDF080;
    background-color: #193549;
 */
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/assets/img/family.jpg');
  
  background-size: cover;
  color: #000000;
  background-color: #ffffff
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
/*
h1, table { 
  text-align: left; 
  table-layout: fixed;
}
*/
li {list-style-type: none;}

input {
  background-color: #2C506B;
}

.shader {
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) )
}

.floaty-input {
    padding: 2px;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    margin-bottom: 0px;
}

#grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, pink, lightblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, pink, lightblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, pink, lightblue; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, pink, lightblue); /* Standard syntax */
}

#error-view {
  text-align: left;
  vertical-align: center;
  padding: 2px;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  margin-bottom: 15px;
  width: 100%;
  }

th, td { 
  font-size: 1.3rem; 
  margin-bottom: 3px; 
}
th {
  padding: 3px;
}
tr {
  background: #85adad;
}

.bg-color {
  background-color: #262216;
}

tr, td { 
  transition: .1s ease-in; 
  align-content: left;
  padding-left: 10px;
  vertical-align: center;
  padding-top: 4px;
  word-wrap: break-word;
} 

.top-buffer { margin-top:2px; }

td {
  wo2rd-wrap: break-word;
}

th.Controls{
  width: 15%
}
th.Key {
  width: 20%
}
th.Value {
  width: 65%;
}

tr:first-child {
  background: #e8edf3; 
}

tr:nth-child(even) { 
  background: #a4c1c1; 
}
td:empty {
  background: #ffeacc; 
}
tr:hover:not(#firstrow), tr:hover td:empty {
  background: #e8edf3;
  pointer-events: #262216;
}
tr:hover:not(#firstrow) { 
  transform: scale(1); 
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

div .totalkeys {
  text-align: center;
}

div .center-nav {
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 95%;
}

/*.center-pills { display: inline-block; }*/
.center-pills {
    display: flex;
    justify-content: center;
}

ul .nav-loc {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: 
}

div .ctrls-span {
  text-align: center;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%
}

kval {
  margin-right: 10px;
  margin-left: 10px;
}

input.search {
  margin-left: 10px;
  margin-right: 10px;
}

input.keychange {
  margin-left: 10px;
  margin-right: 10px;
}
input.exp-ttl {
  margin-left: 10px;
  margin-right: 10px;
}

.shadow {
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.text-shadow {
  text-shadow: 2px 2px rgba(0,0,0,0.25);
}



a.buttonbuffer {
  margin-left: 10px;
  margin-right: 10px;
}

.center-div {
  vertical-align: center;
  text-align: center;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#slider {
width: 400px;
height: 17px;
position: relative;
margin: 100px auto;
background: #10171D;

-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

#slider .bar {
width: 388px;
height: 5px;
background: #333;
position: relative;
top: -4px;
left: 4px;  

background: #1d2e38;
background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );    

-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}

#slider .highlight {
height: 2px;
position: absolute;
width: 388px;
top: 6px;
left: 6px;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
-webkit-appearance: none;
background-color: black;
height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
position: relative;
top: 0px;
z-index: 1;
width: 11px;
height: 11px;
cursor: pointer;
-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
top: -75px;
}

#rightbox {
  padding-left: 30px
}
#leftbox {
  padding-right: 10px
}

/* Tool Tip */
#rangevalue {
color: white;
font-size: 10px;
text-align: center;
font-family:  Arial, sans-serif;
display: block;
color: #fff;
margin: 20px 0;
position: relative;
left: 44.5%;
padding: 6px 12px;
border: 1px solid black;

-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
width: 18px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
top: -95px;
}